header {
    background: linear-gradient(var(--imggradient)), url(../img/homepage.jpg) no-repeat;
    background-size: cover;

}

.company-logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 3rem;
}

/* .telephone {
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem 1rem;

} */


.topBar{
    position: absolute;
    display: flex;
    gap: min(3rem,10vw);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 1% 2%;
    z-index: 5;
}
.topBar *{
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--font3);
}
.topBar *:not(.hamburger,.hamburger *,.hamburger__links, .hamburger__links *){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 3;
}
.home-topBar-text{
    font-size: 1rem;
}
.hamburger{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: .35rem;
    justify-content: center;
    align-items: flex-start;
    transition: .3s ease-in-out;
    z-index: 10;
}
.hamburger .burgerLine{
    display: block;
    height: 2px;
    background-color: var(--white);
    border-radius: 2px;
    transition: .3s ease-in-out;
    
}
.hamburger .burgerLine:nth-child(1){
    width: 23px;
}
.hamburger .burgerLine:nth-child(2){
    width: 30px;
}
.hamburger .burgerLine:nth-child(3){
    width: 20px;
}
.hamburger.active .burgerLine:nth-child(1){
    width: 30px;
}
.hamburger.active .burgerLine:nth-child(2){
    width: 20px;
}
.hamburger.active .burgerLine:nth-child(3){
    width: 15px;
}
.hamburger__links{
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--royalBlue);
    top: -2rem;
    left: -50rem;
    z-index: 2;
    padding-block: 7rem 4rem;
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    height: min(35rem,70vh);
    width: min(30rem, 25vw);
    border-radius: 0 0 2rem 0;
    transition: .3s ease-in-out;
}
.hamburger__links.active{
    left: -3rem; 
}
.hamburger__links li{
    width: inherit;
    display: flex;
    align-items: center;
    padding-block: 1rem;
    transition: .2s ease-in-out;
}
.hamburger__links li:hover{
    background-color: var(--textBlue1);
}
.hamburger__links li a{
    margin-inline: 5rem;
    text-decoration: none;
    font-family: var(--font3);
    font-size: 1.5rem;
}


.leftbaar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 0;
    margin-left: 2rem;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: 0;
    margin-right: 4rem;
    list-style: none;

    
}

.icons li a {
    font-size: 2rem;
    color: var(--white);
}

.bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 4rem;
}

.bottom .home-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
}

.bottom .home-links a {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
}